body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(135deg, #4CAF50, #8BC34A);
    color: white;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 2.8rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
}
img {
    display: block; /* Hace que la imagen sea un bloque para centrarla */
    margin: 0 auto; /* Aplica márgenes automáticos a los lados */
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

.logros {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logro {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 2rem;
    color: black;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logro:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.logro h2 {
    margin: 0 0 0.5rem;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.logro p {
    margin: 0;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #f1f1f1;
}

footer p {
    margin: 0;
    color: #555;
}
.back-button {
    display: inline-block;
    background-color: #3f51b5; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición suave */
    margin-top: 10px; /* Espaciado superior */
}

.back-button:hover {
    background-color: #2196f3; /* Color de fondo al pasar el mouse */
}
